@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

:root {
  /* primary color */
  --clr-p-11: #f9fafb;
  --clr-p-10: #f3f4f6;
  --clr-p-9: #e5e7eb;
  --clr-p-8: #d1d5db;
  --clr-p-7: #9ca3af;
  --clr-p-6: #6b7280;
  --clr-p-5: #4b5563;
  --clr-p-4: #374151;
  --clr-p-3: #1f2937;
  --clr-p-2: #111827;
  --clr-p-1: #030712;

  /* secondary color */
  --clr-s-1: #111827;
  --clr-s-2: #374151;
  --clr-s-3: #4b5563;
  --clr-s-4: #6b7280;
  --clr-s-5: #9ca3af;

  /* greyShades */

  /*  */
  --transition: 0.4s all;

  /* hero heading space */

  --h2-pos: 9rem;
}

@media only screen and (max-width: 768px) {
  :root {
    --h2-pos: 0;
  }
}
body {
}

html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 8px;
  /* display: none; */
}
::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: var(--clr-p-7);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: capitalize;
  color: var(--clr-p-5);
}
a {
  color: inherit;
}
a:hover {
  color: inherit;
}
.section-center {
  width: clamp(300px, 90%, 1300px);
  margin: auto;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  object-fit: cover;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
}
.btn {
  background-color: transparent;
  outline: none;
  text-transform: capitalize;
  cursor: pointer;
  text-transform: uppercase;
  color: var(--clr-1);
  padding: 10px;
  border: 1px solid var(--clr-s-1);
  color: var(--clr-s-1);
  border-radius: 5px;
  transition: var(--transition);
}
.btn-solid {
  background-color: var(--clr-s-1);
  color: var(--clr-s-5);
  text-transform: capitalize;
  border: 1px solid var(--clr-s-1);
}
.btn-100 {
  width: 100%;
}

.btn:hover {
  background-color: var(--clr-s-1);
  color: var(--clr-s-5);
  border: 1px solid var(--clr-s-1);
}

.btn-solid:hover {
  background-color: transparent;
  color: var(--clr-s-1);
}

/* react-router */
.active {
  border-bottom: 1px solid var(--clr-p-3);
}

.d-flex {
  display: flex;
}

p {
  margin: 0;
}
.underline {
  background-color: var(--clr-p-6);
  height: 5px;
  width: 100px;
  border-radius: 20px;
}
